<launch>

    <node name="slam_script" pkg="autovalet_system" type="slam_sim.sh" />
    <node name="nav_script" pkg="autovalet_system" type="nav_sim.sh" />
    <!-- <node name="lane_script" pkg="autovalet_system" type="lane_sim.sh" /> -->


    <include file="$(find autovalet_gazebo)/launch/aruco_sim.launch">
        <arg name="markerId" value="7" />
        <arg name="markerSize" value="0.5" />
        <arg name="ref_frame" value="/base_link" />
    </include>
</launch>
