<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  	<include file="$(find autovalet_gazebo)/launch/parking_lot.launch">
  		<arg name="joystick" value="true"/> 
  		<arg name="world_file" value="slam_val_dumpster.world"/>
  	</include>

  	<include file="$(find autovalet_gazebo)/launch/valet_rtab_sim.launch"/>

</launch>