 <xml version="1.0"/>
 <launch>
	 <env name="GAZEBO_MODEL_PATH" value="$(find autovalet_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

	 <include file="$(find autovalet_description)/launch/autovalet_description.launch">
	    <arg name="simulation" value="true"/>
	 </include>

	 <include file="$(find gazebo_ros)/launch/empty_world.launch">
	   <arg name="world_name" value="$(find autovalet_gazebo)/worlds/slam_val_dumpster.world"/> 
       <arg name="paused" value="false"/>
	   <arg name="use_sim_time" value="true"/>
	   <arg name="gui" value="true"/>
	   <arg name="headless" value="false"/>
       <arg name="debug" value="false"/>
     </include>
</launch>