<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">
 <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="top_plate_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
    <!--origin xyz="0.2206 0.0 0.00635" rpy="0 0 0" /-->
    <origin xyz="0.2206 0.0 1.0" rpy="0 0 0" />
  </VLP-16>
</robot>
